* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.toolbar {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  border-radius: 10px;
}

.product-menu {
}

.product-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

.categories-menu {
  width: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.categories-check {
  width: 40px;
  padding: 0 20px;
}

.toolbar div:last-child {
  margin-left: auto;
}

.quantity-button {
  background: aliceblue;
  min-width: 36px !important;
  padding: 0 !important;
  margin: 0 10px;
  color: dodgerblue;
}

.mat-menu-panel {
  min-width: 140px;
}

.popup-qty {
  display: inline-block;
  padding: 0 15px;
}

.popup-action-buttons {
  float: right;
  margin: 10px;
}

.red-text {
  color: red;
}
